# Web Framework
fastapi
uvicorn[standard]
python-multipart  # for file uploads

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-groq
langchain-pinecone
langchain-text-splitters
# Vectorstore
# chromadb
pinecone

# Embeddings
# sentence-transformers
# langchain-google-generative-ai
langchain-google-genai

# PDF Parsing
PyPDF  # backend for PyPDFLoader via langchain_community

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm

# Logging (optional but recommended)
loguru

#uvicorn main:app --reload
fastapi==0.104.1
uvicorn[standard]==0.24.0
pypdf==3.17.4
python-multipart==0.0.6
python-dotenv==1.0.0
pinecone-client==5.0.1
langchain-text-splitters==0.2.4
langchain-google-genai==4.2.0
tqdm==4.66.1